build/
tags
*.o
*.drawio
.vscode/



samples/sample_c/platform/rtos_freertos/stm32f4_discovery/project/mdk/Objects/
samples/sample_c/platform/rtos_freertos/stm32f4_discovery/project/mdk/mdk_app.uvguix.gengcheng
samples/sample_c/platform/rtos_freertos/stm32f4_discovery/project/mdk_bootloader/Objects/
